body {
    font-family: "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 30px;
}

#banner {
    background-color: #2e8b57;
    border-radius: 8px;
    gap: 0px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wa_item {
    background-color: #ffffff;
    border-radius: 8px;
    gap: 0px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 8px;
    border: 1px solid #cccccc;
}

.wa_option_c {
    background-color: #a8e6a8;
    border-radius: 6px;
    gap: 0px;
    padding: 10px 15px;
    margin-top: 8px;
    margin-bottom: 6px;
}

.wa_option_u {
    background-color: #FF9999;
    border-radius: 6px;
    gap: 0px;
    padding: 10px 15px;
    margin-top: 8px;
    margin-bottom: 6px;
}

.wa_option {
    background-color: #eaeaea;
    border-radius: 6px;
    gap: 0px;
    padding: 10px 15px;
    margin-top: 8px;
    margin-bottom: 6px;
}

.wa_correct {
    color: #008000;
    font-weight: bold;
    font-size: 14px
}

.wa_wrong {
    color: #cc0000;
    font-weight: bold;
    font-size: 14px
}

.wa_hint {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 8px;
    margin-left: 5px;
}

.wa_item h4 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin: 8px 8px;
}

#banner h4 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
}

#banner h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
}




#progress_container {
    width: 100%;
    height: 15px;
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 5px;
}

#p_bar {
    height: 100%;
    width: 0%;
    background-color: #2e8b57;
    transition: width 0.5s ease-in-out;
}

#toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#p_text {
    display: block;
    text-align: right;
    font-weight: bold;
    margin-top: 0px;
    margin-right: 5px;
}

#star {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 5px;
}

#q_control {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn_next {
    width: 150px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #cccccc;
    opacity: 1 !important;
    cursor: default !important;
    margin-top: 8px;
}

#btn_next:disabled {
    background-color: #ffffff;
    color: #999999;
    border: 1px solid #cccccc;
    opacity: 1 !important;
}

#hint {
    font-size: 16px;
    margin-top: 8px;
    text-align: center;
}

.option_btn {
    width: 100%;
    min-height: 50px;
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 18px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #cccccc;
    opacity: 1 !important;
    cursor: default !important;
    margin-bottom: 8px;
}

.option_btn:disabled {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #cccccc;
    opacity: 1 !important;
}

.option_btn.correct:disabled {
    opacity: 1 !important;
    background-color: #a8e6a8;
}

.option_btn.incorrect:disabled {
    opacity: 1 !important;
    background-color: #ff9999;
}

.quiz_select_btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 18px;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    border: 1px solid #cccccc;
}

#btn_back {
    text-align: center;
    height: 40px;
    width: 40px;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    background-color: #ffffff;
    color: #2e8b57;
    font-size: 24px;
}

#quiz_selection_area h3 {
    margin-bottom: 8px;
    margin-left: 5px;
}

#q_text {
    margin-bottom: 8px;
    margin-left: 5px;
}

#selection_list {
    margin-top: 0px;
}

#sfl_toggle {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    padding: 0;
    accent-color: #2e8b57;
}

#sfl_text {
    height: 20px;
    font-size: 15px;
    margin-right: 25px;
    padding: 0;
}

#sfl_box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    text-align: center;
    z-index: 1000;
}

.full-star {
    color: #FFD306;
    margin-left: 3px;
    font-size: 18px;
}

.empty-star {
    color: #e0e0e0;
    margin-left: 3px;
    font-size: 18px;
}


#guide-dialog {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 80%;
    max-height: 90%;
}

#guide-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

.dialog-content h2 {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

.dialog-content h3 {
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 8px;
    background-color: #2e8b57;
    border-radius: 5px;
    text-align: center;
}

.dialog-content p {
    color: #000;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 8px;

}

.line {
    background-color: #eee;
    border: none;
    height: 2px;
    margin-top: 20px;

}

#close-dialog-btn {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    text-align: center;
    background-color: #2e8b57;
    color: white;
    border: none;
    width: 100px;
    border-radius: 8px;
}

#guide_btn {
    position: fixed;
    right: 6px;
    bottom: 6px;
    height: auto;
    width: auto;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    z-index: 1001;
    font-weight: bold;
    font-size: 21px;
    color: #000;
}

#btn_container{
    display: flex;
    align-items: center;
    justify-content: right;
}

a {
    color: #2e8b57;
    text-decoration: none;
}
